<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./head') %>
  </head>
  <body>
    <%- include('./nav') %>

    <main>
      <section class="detalhes">
        <div>
          <img src="<%= filme.imagem %>" alt="capa do filme" />
        </div>
        <div>
          <h3><%= filme.nome %></h3>
          <p>Descrição: <%= filme.descricao %></p>
          <p>Diretor: <%= filme.diretor%></p>
          <p>Ano de lançamento: <%= filme.ano %></p>
          <p>Gênero: <%= filme.genero %></p>
        </div>
      </section>
    </main>

    <%- include('./footer') %>
  </body>
</html>
