<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="shortcut icon" href="assets/img/icone.png" />
    <title>Login</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="">
          <img id="logo" src="assets/img/logo.png" alt="/" />
        </a>
        <a class="nav" id="home" id="home" href="/">HOME</a>
        <a class="nav" id="cadastro" href="/cadastro">CADASTRO</a>
        <a class="nav" id="lista" href="/lista">LISTA</a>
        <a class="nav" id="detalhes" href="/detalhes">DETALHES</a>
      </nav>
    </header>
    <h1>Veja aqui os detalhes do filme</h1>

    <main>
      <section id="detalhes">

              <img src="<%= filme.imagem %>" alt="">
      

          <section class="item texto">
              <h2><%= filme.nome %></h2>
              <p><%= filme.descricao %></p>
              <a href="/editar/<%= filme.id %>">editar</a>
              <a href="/deletar/<%= filme.id %>">excluir</a>
          </section>
          
      </section>
  </main>



    <footer>
      <p>Projeto3 modulo2 - 2022</p>
  </footer>
  
  </body>
</html>
