<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <%- include('./head') %>
  </head>

  <body>
    <%- include('./nav') %>
    <img id="capa" src="/assets/img/capa.jpg" alt="banner" />

    <% if (filmeSearch.length == 0) {%> <% if(message !="" ) { %> <%-
    include('./alerts') %> <% } %> <% } %>

    <h1>HOME</h1>
    
  <% if (filmePut !=null) {%> <%- include('./modalput.ejs') %> <% } %> 
  <% if(filmeDel !=null) {%> <%- include('./modalDel.ejs') %> <% } %> 

    <main>

      <% if (filmeSearch.length == 0) {%> <% filmes.forEach((filme)=> { %> <%-
      include('./cards', {filme: filme})%> <% }) %> 
      <% } else { %>
      <div id="result-search-space">
        <h2>Resultado da Pesquisa</h2>
        <a href="/">Todos os Filmes</a>
      </div>

      <% filmeSearch.forEach((filme)=> { %> <%- include('./cards' , {filme:
      filme})%> <% }) %> <% } %>
    </main>
    
    <%-include('./footer') %>

    <script src="../js/script.js"></script>
  </body>
</html>
