<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./head') %>
</head>

<body>

    <%- include('./nav') %>

    <% if (filmeSearch.length == 0) {%>
        <header>
            <img id="capa" src="../assets/img/capa.jpg" alt="banner">
            <% if(message !="" ) { %>
                <%- include('./alerts') %>
                    <% } %>
        </header>
    <% } %>

        <main>
        
        <% if (filmeSearch.length == 0) {%>
            <section id='cards'>
                <% filmes.forEach((filme)=> { %>
                    <%- include('./cards', {filme: filme})%>
                <% }) %>
            </section>
        <% } else { %>
            <div id="result-search-space">
                <h2>Resultado da Pesquisa</h2>
                <a href="/">Todos os Filmes</a>
            </div>
            <section id='cards'>
                <% filmeSearch.forEach((filme)=> { %>
                    <%- include('./cards' , {filme: filme})%>
                <% }) %>
            </section>
        <% } %>

        </main>

        <% if (filmePut !=null) {%>
            <%- include('./modalPut') %>
                <% } %>

                    <% if (filmeDel !=null) {%>
                        <%- include('./modalDel') %>
                            <% } %>

                                <%- include('./footer') %>

                                    <script src="/script.js"></script>

</body>

</html>